.mainContainer{
    text-align: center;
}
.getStarted {
    font-weight: bold;
    color: #FFF;
    letter-spacing: -1px;
    font-size: 40px;
}

.formContainer {
    margin-top: 3rem;
}

.inviteCodeInput {
    font-weight: bold !important;
    background-color: #141833;
    border-radius: .5rem;
    color: #FFF !important;
    margin-right: 8;
    font-size: 14px;
}

.continueButton {
    background: #8B46FF !important;
    border-radius: 1rem !important;
    font-weight: bold !important;
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-top: 1rem !important;
    color: #FFF !important;
    font-size: 14px !important;
}