.profileOnBoardingContainer {
    background: conic-gradient(from 134.88deg at 50.55% 49.24%, #5600E1 -61.47deg, #373FFF 26.68deg, #A534FE 167.74deg, #B518FF 197.3deg, #5600E1 298.53deg, #373FFF 386.68deg), linear-gradient(0deg, rgba(3, 7, 34, 0.95), rgba(3, 7, 34, 0.95));
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: #141833;
    width: 450px;
    height: 570px;
    border-radius: 35px;
    overflow: hidden;
    align-items: center;
}

.modalImgContainer {
    display: flex;
    background-color: #AEFFEC;
    width: 100%;
    height: 254px;
}

.modalText {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.modalTextHeader {
    composes: modalText;
    font-weight: 700;
    line-height: 32px;
}

.modalTextParagraph {
    composes: modalText;
    font-weight: 500;
    text-align: center;
}

.modalButton {
    display: flex;
    width: 390px;
}

.modalButtonPresentation {
    composes: modalButton;
    margin-top: auto !important;
    margin-bottom: 30px !important;
}

.modalButtonForm {
    composes: modalButton;
    height: 49px;
}

.modalButtonFormContinue {
    composes: modalButtonForm;
    margin-top: auto !important;
}

.modalButtonFormLater {
    composes: modalButtonForm;
    margin-bottom: 24px !important;
    width: 220px;
    background-color: #0000 !important;
    box-shadow: none !important;
    color: #FFFFFF99 !important;
}

.modalTextSubParagraph {
    composes: modalText;
    color: #FFFFFF99;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 60%;
}

.modalButtonActiveIndicator {
    display: flex;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.modalTextInputContainer {
    display: flex;
    flex: 1;
}

.modalTextInput {
    background-color: #202750 !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    align-items: flex-start !important;
}